<!-- Begin Page Content -->
<div class="container-fluid">
 
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Financeiro - Receita</h1>

    <div class="row">
        <div class="col-lg-12 mb-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><%= link_to "Dashboard", app_dashboard_path %></li>
                    <li class="breadcrumb-item active" aria-current="page">Financeiro - Receita</li>
                </ol>
            </nav>
	    </div>
	</div>

    <!--
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card shadow mb-12">
                <div class="card-header py-12">
                    <h6 class="m-0 font-weight-bold text-primary">Opções</h6>
                </div>
                <div class="card-body">
                    <div class="col-sm-6 col-xs-12">
                        <div class="row">
                            <div class="col-xs-12 mr-2 b-3 p-1">
                                <%#= link_to new_app_in_payment_path, class:'btn btn-primary btn-icon-split' do %>
                                    <span class="icon text-white-50">
                                        <i class="fas fa-folder"></i>
                                    </span>
                                    <span class="text">Cadastrar pagamento a receber</span>
                                <%# end %>
                            </div>
                            <div class="col-xs-12 mr-2 b-3 p-1">
                                teste
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                À receber (mensal)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= humanized_money_with_symbol @report_in_payments_month_payable_sum/100.to_f %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-donate fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Recebido (Mensal)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= humanized_money_with_symbol @report_in_payments_month_payd_sum/100.to_f %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Recebido (Anual)
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= humanized_money_with_symbol @report_in_payments_payd_annual_sum/100.to_f %></div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-chart-area fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pagamento pendente</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= humanized_money_with_symbol @report_in_payments_late_payment_sum/100.to_f %></div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Pagamentos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Projeto</th>
                            <th>Valor</th>
                            <!--<th>Valor parcela</th> -->
                            <!--<th>Parcelas</th> -->
                            <th>Fechamento</th>
                            <th>Vencimento</th>
                            <th>Data pago</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @in_payments.each do |in_payment| %>
                            <% in_payment.in_parcels.each do |in_parcel| %>
                                <tr>
                                    <td><%= in_payment.project.name %></td>
                                    <td><%= humanized_money_with_symbol in_payment.in_parcels.sum(:value_cents)/100.to_f %></td>
                                    <%# in_payment.in_parcels.each do |in_parcel| %>
                                        <!--<td><%#= humanized_money_with_symbol in_parcel.value %></td>-->
                                        <!--<td><%#= in_parcel.parcel_number %></td>-->
                                        <td><%= l(in_parcel.invoice_due_date) %></td>
                                        <td><%= l(in_parcel.due_date) %></td>
                                        <td>
                                            <% if in_parcel.paid_day.present? && in_parcel.status == "Pago" %>
                                                <%= l(in_parcel.paid_day) %>
                                            <% elsif %>
                                                <i>Não foi pago</i>
                                            <% end %>
                                        </td>
                                        <td>
                                            <% if in_parcel.status == "Em atraso" %>
                                                <font color="red"><%= in_parcel.status %></font>
                                            <% else %>
                                                <%= in_parcel.status %>
                                            <% end %>
                                        </td>
                                        <td width="12%">
                                            <%# project_status change %>
                                            <% if in_parcel.status == "A pagar" %>
                                                <% @change_button_description = "Status: Pago" %>
                                            <% elsif in_parcel.status == "Pago" %>
                                                <% @change_button_description = "Status: Em atraso" %>
                                            <% elsif in_parcel.status == "Em atraso" %>
                                                <% @change_button_description = "Status: A pagar" %>
                                            <% end %>
                                            <%# action buttons %>
                                            <%= link_to app_in_payment_in_parcel_change_status_path(in_parcel.in_payment.id, in_parcel.id, :status => in_parcel.status), class: "btn btn-success btn-circle btn-sm", data: {'toggle': "tooltip", 'placement': "top", 'original-title': @change_button_description}, method: :put do  %>
                                                <i class="fas fa-fw fa-check"></i>
                                            <% end %>
                                            <%= link_to edit_app_in_payment_in_parcel_path(in_parcel.in_payment.id, in_parcel.id), class: "btn btn-primary btn-circle btn-sm", data: {'toggle': "tooltip", 'placement': "top", 'original-title': "Editar"}, method: :get do  %>
                                                <i class="fas fa-fw fa-edit"></i>
                                            <% end %>
                                            <%#= link_to app_project_path(project.id), class: "btn btn-danger btn-circle btn-sm", data: {confirm: "Você deseja excluir o projeto #{project.name} e suas respectivas tarefas?", 'toggle': "tooltip", 'placement': "top", 'original-title': "Excluir"}, method: :delete do  %>
                                                <!-- <i class="fas fa-fw fa-trash"></i> -->
                                            <%# end %>
                                        </td>
                                    <%# end %>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
