<div class="modal fade" id="timerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cadastro de horário</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>

            <%= form_for([:app, @task_schedule], :url => app_dashboard_create_task_scheduler_path) do |f| %>
            <div class="modal-body">
                <div class="row">
                    <div class="alert alert-info col-md-12 col-lg-12 col-xs-12" role="alert">
                        <strong>Início:</strong> <span id="start_clock"></span><br />
                        <strong>Conclusão:</strong> <span id="end_clock"></span><br />
                        <strong>Tempo decorrido:</strong> <span class="work_hour"></span>
                    </div>
                </div>
                <br />
                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-12 col-xs-12">
                            <label>Empresa</label>
                            <%#= f.collection_select :company_id, @company_options_for_select, :id, :name, { prompt: 'Selecione a empresa', required:"required" }, {:class =>"form-control", :tabindex => "-1"} %>
                            <select class="form-control" tabindex="-1" name="task_schedule[company_id]" id="task_schedule_company_id">
                                <option value="" disabled selected hidden>Selecione a empresa</option>
                                <% @company_options_for_select.each do |company| %>
                                    <option value= <%= company.id %>> <%= company.name %> </option>
                                <% end %>
                            </select>
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-xs-12">
                            <label>Projeto</label>
                            <%#= f.collection_select :project_id, @project_options_for_select, :id, :name, { required:"required" }, {:class =>"form-control", :tabindex => "-1"} %>
                            <select class="form-control" tabindex="-1" name="task_schedule[project_id]" id="task_schedule_project_id">
                                <option value="" disabled selected hidden>Você deve selecionar uma empresa</option>
                                <% @project_options_for_select.each do |project| %>
                                    <option value= <%= project.id %>> <%= project.name %> </option>
                                <% end %>
                            </select>
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-xs-12">
                            <label>Tarefa</label>
                            <%= f.collection_select :task_id, @task_options_for_select, :id, :name, {}, {:class =>"form-control", :tabindex => "-1", :required => true} %>
                            <%#= f.collection_select :project_id, Project.all.where(company_id: :company_id), :id, :name %>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 col-lg-12 col-xs-12">
                            <label>Início</label>
                            <%= f.datetime_field :start_date, class:"form-control", placeholder:"Ex.: 10/03/2021", required:"required" %>
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-xs-12">
                            <label>Conclusão</label>
                            <%= f.datetime_field :end_date, class:"form-control datepicker", placeholder:"Ex.: 10/03/2021", required:"required" %>
                        </div>
                        <div class="form-group col-md-12 col-lg-12 col-xs-12">
                            <label>Tempo decorrido</label>
                            <%= f.text_field :work_hour, class:"form-control times1", placeholder:"Ex.: 08:00:00" %>
                            <!--<img src="https://cdn4.iconfinder.com/data/icons/36-slim-icons/87/calender.png" id="input_img"> -->
                            <span class="far fa-clock times1-clock"></span>
                        </div>
                        <div class="form-group col-lg-12 col-xs-12">
                            <%#= f.submit "Cadastrar", class:"btn btn-primary", data: { disable_with: "Aguarde..." } %>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Voltar</button>
                    <%= f.submit "Cadastrar", class:"btn btn-primary", data: { disable_with: "Aguarde..." } %>
                    <!-- <button id="send_btn" class="btn btn-primary" type="button" data-dismiss="modal" onclick="send()">Cadastrar</button> -->
                    <%#= link_to destroy_user_session_path, {disable_with: "Saindo...", class:"btn btn-primary"}, method: :delete do %>
                        <!-- Cadastrar -->
                    <%# end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
